<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF-конвертер</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js" integrity="sha512-U2WE1ktpMTuRBPoCFDzomoIorbOyUv0sP8B+INA3EzNAhehbzED1rOJg6bCqPf/Tuposxb5ja/MAUnC8THSbLQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Лучший PDF конвертер</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="/split">Разделить PDF</a>
            <a href="/merge">Соединить PDFs</a>
            <a href="/convert">Преобразовать в JPG</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>PDF Tools © 2025</p>
    </footer>

</body>
</html>